{% extends 'youtube_downloader/base.html' %}



{% block content%}
{{error}}
    <form method="POST">
      <div class="input-group col-xl">
          {% csrf_token %}
        <input type="text" name="videourl" id="videourl" class="form-control mr-2" placeholder="Past link here eg :https://www.youtube.com/watch?v=ALbIbStdMsQ">
        <div class="input-group-btn">
          <button type="submit" class="btn btn-primary">convert</button>
        </div>
      </div>
    </form>




{% endblock content %}
